:root{
    --preto: #141414;
}
html {
    height: 100%;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{

    background-size: contain;
    background-repeat: no-repeat;
    background-image: linear-gradient(to bottom right, rgba(255,0,0,0), rgb(117, 90, 143));}
.conteiner{
    width: 300px;
    height: 400px;
    background-image: linear-gradient(to bottom right, #ab5689, #36314a);    padding: 20px;
    border-radius: 2%;
    box-shadow: 20px 15px 10px rgb(65, 62, 62);
    margin: auto;
    margin-top: 50px;
}
.calculator-buttons{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 10px;
    margin: 20px;
}
#equal{
    grid-column-start: 3;
    grid-column-end: 5;
}
#ce{
    grid-column-start: 1;
    grid-column-end: 3;
}

.display{
    width: auto;
    background-color: white;
    margin: 5px;
    font-size: 30px;
    padding: 10px;
    border-radius: 5px;
    text-align: end;
}
button{
    text-align: center;
    border-radius: 20px;
    display: block;
    background-color: #fefefe;
    width: 50 px;
    height: 40px;
    font-size: 20px;
    border: none;
}
button:hover{
    color: #4d7ab7;
    border: solid 1px #4d7ab7;
    box-shadow: 2px 3px 5px rgb(150, 160, 216);
}